.DS_Store
__MACOSX/
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

logs/*.log
!logs/.gitkeep

data/raw/*.json
!data/raw/.gitkeep
data/processed/*.parquet
!data/processed/.gitkeep

*.zip
.streamlit/secrets.toml
